.classpath
.gradle
.metadata
.project
.settings
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
forge-*-changelog.txt
libs/*
build/*
!libs/.gitkeep
bin/
# default eclipse stuff
eclipse/*
!eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
!eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
