.classpath
.gradle
.metadata
.project
.settings
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-*-changelog.txt
gradle/
gradlew
gradlew.bat
lib/
libs/
bin/
eclipse/